<!doctype html>
<html lang="en" >

{% include 'header.html' %}

<body>
    <!-- <link rel="stylesheet" href="../static/styles/textstyle.css"> -->
    <h1 class="firstheader">What is this?</h1>
    <p>A website for the sole purpose of creating high quality gif files
        from YouTube. The current solutions online are something that work
        great, but do not offer the functionality I was looking for.
    </p>
    <p>This is broken down into three main functions, each of which has its
        own way of creating gifs based on what you are looking for. Each one
        will be covered below.
    </p>
    <br>
    <h1>OneVideoOneGif</h1>
    <p>What this allows you to do is create one gif given your desired
        start and stop time from the YouTube video you provide.
    </p>
    <br>
    <h1>OneGifPerVid</h1>
    <p>This functionality allows you to create one gif per YouTube
        video where you provide multiple start and stop times. It takes
        start/stop times you provide and merges them into one gif. The number
        of YouTube links you provide will dictate the number of gif files you
        receive
    </p>
    <br>
    <h1>ManyGifPerVid</h1>
    <p>This is like the antichrist to the OneGifPerVid function.
        Instead of merging the multiple start/stop times into one gif this
        will create one gif per start/end time you provide. In short, the
        number of gifs this returns is going to be equal to the start/stop
        times you enter regardless of the number of links.
    </p>
    <br>
    <br>
    <h1>Question I am sure you are dying to know the answer to section</h1>
    <h2>Why does your website look like shit?</h2>
    <p>First off, ouch. </p>
    <p>Second off, chill, I am no HTML expert and spent most
      of my time learning how to create the code for the backend of this website
    </p>
</body>
</html>
