<head>
    <link rel="stylesheet" href="/static/styles/homestyle.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
    <title>Home Page</title>
</head>

<body>
    <nav>
        <ul>
            <img src="/static/logo.jpg">
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/onevidonegifform"> OneVidOneGIF </a></li>
            <li><a href="/onegifpervidform"> OneGIFPerVid </a></li>
            <li><a href="/manygifpervidform"> ManyGIFPerVid </a></li>
        <ul>
    </nav>
</body>
