<!--
-Verify I am loading multiple css files in html correctly, (ex: homestyle, textstyle, functionstyle)
    - move to header, create one file
-Trying to get logo and nav bar inline with eachother
-Is home page even necessary? I want one but not sure what to put there
-Create dropdown in Navbar without Java Script?
    - select element in HTML
-Any good/free ways to host this thing? Wordpress?
    - need flask server (EC2 instance Amazon)
- Concurrent users
    - name file that is unique (UUID in name of file) then delete
    - When new file is generated, run function that deletes files when
    file is > 24 hours old
    - end game: create files using URL, start and end times
-->


<!doctype html>
<html lang="en" >

{% include 'header.html' %}

</html>

<body>
    <h1>Intentionally left blank</h1>
</body>
